.App {
  text-align: center;
}
.nav-child{
  width: 30%;
  color: white;
  padding: 5px 0px;
  font-size: 20px;
}
.child3{
  display: flex;
  justify-content: space-between;
}
#navbardiv{
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
  background-color: rgb(130, 0, 52);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 10px;
}
#logo{
  max-width: 140px;
  display: inline;
}
.option-icon{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out 0s;
}
.option-icon:hover{
  background-color: rgb(100, 0, 40);
}
.search-small{
  display: none;
}
.searchdiv{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 10px;
  z-index: 1;
  font-family: verdana;
  background-color: black;
  color: white;
  opacity: 80%;
  right:5px;
  overflow: auto;
  font-size: 13px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out 0s;
}
/*.panelitem:hover .searchdiv {
  display: block;
}*/
#searchbox{
  min-width: 70px;
  width: 200px;
  padding-left: 10px;
  height: 40px;
  border-radius: 20px 0px 0px 20px;
  border: none;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#searchbtn{
  border: none;
  height: 40px;
  border-radius: 0px 20px 20px 0px;
  margin-left: 2px;
}
.panel{
  padding: 5px;
  color: white;
}
#dropdown-bg{
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.dropdown-content{
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 10px;
  font-family: verdana;
  background-color: black;
  color: white;
  opacity: 80%;
  overflow: auto;
  font-size: 13px;
  margin-top: 60px;
  border-radius: 10px 0px 0px 10px;
  right: -10px;
  transition: all 0.9s ease-in-out 0s;
}
/*.panelitem:hover .dropdown-content {
  display: block;
}*/
.link{
  text-decoration: none;
  color: white;
}
#logoutbtn{
  background: none;
  color: white;
  border: none;
  width: 100%;
  margin-bottom: 5px;
  cursor: pointer;
}

/*body*/
#bgdiv{
  background-image: url('Data/pen.jpg');
  background-size: cover;
  width: 100%;
  height: 500px;
}
h1{
  color: rgb(130, 0, 52);
  font-size: 35px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 20px;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#intro{
  font-size: 13px;
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  width: 70em;
  border-width: 0px 2.5px 0px 0px;
  animation: type 6s steps(60, end);
}
#offer{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.icon-box{
  width: 190px;
  height: 190px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0px 50px;
  display: inline-block;
  transition: all 1s ease-in-out 0s;
}

@keyframes fadeInAnimation{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes slideInAnimation{
  from{
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}
.icon{
  font-size: 50px;
  display: inline-block;
  color: rgb(130, 0, 52);
}
.description{
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 30px;
  text-shadow: #f9f9f9;
}
#cbbiz{
  height: auto;
  background-color: lightgray;
  width: 100%;
  background-image: url('Data/stockup.png');
  background-size: cover;
  margin-top: 20px;
  transition: all 1s ease-in-out 0s;
}
#stockimg{
  width: 220px;
  display: inline-block;
  background-image: url('Data/stock.jpg');
  background-size: cover;
  border-radius: 20px;
}
.biz-txt{
  display: inline-block;
  color: rgb(130, 0, 52);
}
.biz-div{
  display: inline-block;
  height: 250px;
  margin: 10px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#createpost{
  width: 100%;
  height: 400px;
  color: white;
  background-color: rgb(130, 0, 52);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('Data/iconbg.png');
  background-size: cover;
  transition: all 1s ease-in-out 0s;
}
#creators{
  overflow: hidden;
  white-space: nowrap;
  width: 70em;
  animation: type 4s steps(60, end);
}
@keyframes type{
  from{
    width: 0;
    border-color: black;
    border-style: solid;
    border-width: 0px 2.5px 0px 0px;
  }
}
#createpostbtn{
  background-color:  white;
  color: rgb(130, 0, 52);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  width: 200px;
  height: 50px;
  border-radius: 60px;
  padding: 15px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
#allthemes{
  justify-content: space-between;
  background-color: rgb(229, 120, 4);
  padding: 20px;
  transition: all 1s ease-in-out 0s;
}
.themedivs{
  width: 200px;
  height: 200px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: inline-block;
  border-radius: 20px;
  margin: 15px;
  transition: all 0.4s ease-in-out 0s;
}
.themedivs:hover{
  padding: 10px;
}
#featuring{
  display: inline-block;
  color: white;
  width: 90%;
}
#themescroll{
  overflow-x: auto;
  width: 100%;
}
#lifestyle{
  background-image: url('Data/lifestyle.jpg');
  background-size: cover;
}
#politics{
  background-image: url('Data/politics.jpeg');
  background-size: cover;
}
#entertainment{
  background-image: url('Data/entertainment.jpeg');
  background-size: cover;
}
#fashion{
  background-image: url('Data/fashion.jpg');
  background-size: cover;
}
#tech{
  background-image: url('Data/tech.jpeg');
  background-size: cover;
}
#sports{
  background-image: url('Data/sports.jpg');
  background-size: cover;
}
.carousel-prev, .carousel-next{
  border-radius: 50px;
  position:absolute;
  background-color: white;
  height: 30px;
}
#resources{
  height: 350px;
  background-color: rgb(1, 60, 1);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px;
  transition: all 1s ease-in-out 0s;
}
#learning{
  height: 300px;
  background-color: rgb(100,60,30);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px;
  transition: all 1s ease-in-out 0s;
}
#innerresources{
  width: 90%;
}
/*footer*/
#footertopwrapper{
  background-color: rgb(130, 0, 52);
}
.footers{
  display: inline-block;
  color: white;
  margin: 20px;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footercontact{
  display: inline-block;
  width: 200px;
  text-align: left;
}
li{
  text-align: left;
  list-style-type: none;
}
footer{
  height: 100px;
  background-color: gray;
}
#obj{
  color: maroon;
}
#socials{
  float: right;
  margin-top: 20px;
}
.linksf{
  text-decoration: none;
  color: white;
}
.links{
  font-size: 20px;
  color: rgb(130, 0, 52);
  margin: 10px;
}
/*login and register*/
#loginwrapper{
  margin: 50px;
  width: 60%;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 20px;
}
.labeltxt{
  color: rgb(130, 0, 52);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: inline-block;
  margin: 10px 5px;
}
.labeltxt2{
  color: rgb(130, 0, 52);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: inline-block;
  margin: 10px 5px 0px 0px;
}
.nametxt{
  border: 1px solid rgb(130, 0, 52);
  width: 300px;
  height: 40px;
  border-radius: 15px;
  padding: 0px 5px;
  outline: none;
}
.desc{
  width: 1000px;
  height: 100px;
}
#usernamevalid{
  color: green;
  font-size: 11px;
  display: inline;
  margin: 10px;
  width: 70%;
  text-align: right;
}
#usernamenotvalid{
  color: red;
  font-size: 11px;
  display: inline;
  margin: 10px;
  width: 70%;
  text-align: right;
}
#errormsg{
  color: red;
  font-size: 12px;
  margin: 5px;
  height: 20px;
  width: 150px;
  background-color: rgb(250, 200, 200);
  border-width: 0px 0px 0px 5px;
  border-style: solid;
  border-color: red;
}
#loginbtn{
  background-color: rgb(130, 0, 52);
  color: white;
  min-width: 70px;
  height: 30px;
  border-radius: 15px;
  border: none;
  margin: 10px;
}
.alternates{
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}
.itm-cont{
  display: flex;
  justify-content: space-between;
  width: 70%;
}
#regwrapper{
  width: 90%;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 15px;
  border-radius: 20px;
}
#regwelcome{
  color: rgb(130, 0, 52);
}
.input-container{
  display: inline-block;
  margin: 20px 10px;
  height: 100px;
}
#regbtn{
  background-color: rgb(130, 0, 52);
  color: white;
  min-width: 70px;
  height: 30px;
  border-radius: 15px;
  border: none;
  margin: 10px;
}
#google-btn{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
}
/*makepost & post & allblogs*/
.mkpost{
  display: inline-block;
}
.titletxt, .list{
  border: 1px solid rgb(130, 0, 52);
  width: 700px;
  height: 40px;
  border-radius: 5px;
  padding: 0px 5px;
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.list{
  width: 280px;
  height: 42px;
}
#tagselect{
  border: 1px solid rgb(130, 0, 52);
  min-width: 100px;
  height: 35px;
  border-radius: 5px;
  padding: 0px 5px;
  margin: 10px;
  display: inline-block;
}
#tagdiv{
  display: none;
  position: absolute;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 8px;
  z-index: 2;
  font-family: verdana;
  background-color: white;
  overflow: auto;
  font-size: 12px;
  border-radius: 0px 0px 10px 10px;
  transition: all 0.9s ease-in-out 0s;
}
#tagtxt{
  display: inline-block;
  font-size: 12px;
}
#blogbox{
  width: 80%;
  height: 300px;
  padding: 5px;
  border: 1px solid rgb(130, 0, 52);
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 20px;
}
#info-panel{
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  color: rgb(130, 0, 52);
}
#createpostbtnmain{
  background-color: rgb(130, 0, 52);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  border-radius: 10px;
  border: none;
  margin: 10px;
  height: 40px;
  width: 150px;
}
#postdiv{
  width: 90%;
}
.theme-img{
  width: 100%;
  border-radius: 20px;
}
#fileInput{
  display: none;
}
.add-img{
  display: inline-block;
  border: 1px solid rgb(169, 169, 169);
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.blog-theme-label{
  width: 80%;
  display: block;
  align-items: center;
  padding: 10px 5px;
  margin: 10px;
  background-color: whitesmoke;
  color: rgb(169, 169, 169);
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s;
}
#postcontent{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 25px;
  text-align: justify;
}
#blogitem{
  width: 90%;
  box-shadow: 1px 3px 10px 0px rgba(0,0,0,0.2);
  height: 200px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  margin: 5px 0px;
}
#blogitemtrunc{
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
  margin: 10px;
}
#outerprofilediv{
  width: 90%;
}
.beside{
  display: inline-block;
  margin-right: 5px;
}
#descdiv{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  font-size: 12px;
  width: 70%;
}
#personicon{
  border-radius: 100px;
  width: 100px;
  height: auto;
  margin-top: 20px;
}
@media (max-width: 880px){
  .search-cont{
    display: none;
  }
  .search-small{
    display: block;
  }
  .child3{
    justify-content: space-around;
    width: 26%;
  }
  #logo{
    width: 100px;
    margin-top: 10px;
  }
  #navbardiv{
    padding: 2px;
  }
  #searchbox{
    width: 150px;
    height: 30px;
  }
  #searchbtn{
    height: 30px;
  }
  .option-icon{
    padding: 7px 12px;
  }
  #intro{
    font-size: 9px;
    width: 40em;
    margin-left: -10px;
  }
  #creators{
    overflow: hidden;
    white-space: inherit;
    width: 90%;
    animation: fadeInAnimation ease 2s;
  }
  h1{
    font-size: 30px;
  }
  .titletxt, .list{
  width: 300px;
  }
  .nametxt{
    width: 250px;
  }
  #regwrapper{
    width: 80%;
  }
  #loginwrapper{
    margin: 30px;
    width: 80%;
    padding: 15px;
  }
  .themedivs{
    width: 100px;
    height: 100px;
    margin: 10px;
  }
}
